.experience-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.experience-item ul {
  padding-left: 18px;
  margin: 5px 0 30px;
  font-size: 0.9rem;
  text-align: justify;
}

.experience-item ul li {
  list-style: disc;
  margin-bottom: 5px;
}

.experience-item h2 {
  font-size: 1.2rem;
}

.experience-item .date {
  font-size: 0.8rem;
}
