@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --first-color: #00ecb2;
  --second-color: #4b566d;
  --third-color: #96a3be;
  --sb-size: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
span,
div,
button,
textarea {
  font-family: "Nunito", serif;
}

a {
  outline: none;
}

a:focus,
a:active {
  outline: none;
  background: transparent;
}

body {
  width: 100%;
  height: 100dvh;
  background-color: #f4f7f8;
  padding: 0 20px;
}

#root {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
}

::-webkit-scrollbar {
  width: var(--sb-size);
}

::-webkit-scrollbar-track {
  background: #dfdfdf;
  border-radius: 16px;
}

::-webkit-scrollbar-thumb {
  background: var(--second-color);
  border-radius: 10px;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--second-color) #dfdfdf;
  }
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 13px;
  }
  body {
    height: auto;
    overflow-y: visible;
  }
  #main {
    height: auto;
    padding: 65px 0;
  }
  body aside {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 10px 10px 10px;
    max-width: 100%;
    height: auto;
    background-color: transparent;
    background-color: #f4f7f8;
    z-index: 99;
  }
  aside .navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--second-color);
    border-radius: 20px;
  }
  body aside .navbar a {
    padding: 20px;
  }
  body ul.navbar a::before {
    top: 0;
    background-image: url(/public/active-top.png);
    height: 7px;
    width: 62px;
    right: unset;
    left: 50%;
    transform: translate(-50%, -8px);
  }
  body ul.navbar a.active::before {
    transform: translate(-50%, 0px);
  }
  #header {
    position: fixed;
    width: 100%;
    padding: 10px 20px;
    background-color: #fff;
    left: 0;
    top: 0;
    z-index: 99;
  }
  body #sec-items {
    display: flex;
    flex-direction: column;
  }
  body #sec-items > div {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  #sec-4 {
    order: -1;
  }
}
