.expert .head {
  margin: 0 0 20px 0;
}

.progress .group {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.progress .group:first-child {
  margin-top: 0;
}

.progress .group > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
